<div class="container align-center" id="about-container">
<h2>about</h2>
  <ul>
    <p><b>Who:</b> Alex Chan</p>
    <p><b>What:</b> Full Stack Web Developer</p>
    <p><b>Where:</b> San Francisco, CA</p>
    <p><b>When:</b> 2015 - Present</p>
    <p><b>Why:</b> Passion</p>
  </ul>
<br>

<h4>I have used the following technologies and applications as part of my development</h2>
  <ul>
    <img src="images/NodeJS.png">
    <img src="images/Express.png">
    <img src="images/AngularJS.png">
    <img src="images/RubyOnRails.png">
    <img src="images/MongoDB.png">
    <img src="images/PostgreSQL.png">
    <img src="images/jQuery.png">
    <img src="images/Bootstrap.png">
    <img src="images/GoogleFontApi.png">
    <img src="images/FontAwesome.png">
    <img src="images/GoogleMaps.png">
  </ul>
</div>