/*======= Navbar Styling ============*/

.main-header,
.nav {
  display: flex;
  flex-direction: column;
}

.main-header {
  padding-top: 2em;
}

.site-logo {
/*  width: 110px;*/
  align-self: center;
}

.nav {
  margin-top: 1.5em;
}

.nav a {
  display: block;
  color: black;
  font-size: 1.125em;
  font-weight: 300;
  text-align: center;
  padding: .4em;
  border-bottom: 1px solid red;
}

.nav a:hover {
  color blue;
  border-bottom-color: green;
}

.nav > li > a:hover {
  color: #797e83;
  background-color: transparent;
}

/*======= Media Queries ============*/

@media (min-width: 769px) {
  .main-header {
    justify-content: flex-end;
  }
  .site-logo {
/*    width: 140px;*/
  }
  .nav {
    flex-direction: row;
    justify-content: flex-end;
  }
  .nav a {
    border-bottom-color: transparent;
  }
}