/*======= Navbar Styling ============*/

.nav-container {
  width: 100%;
  padding: 0;
  margin: 0;
}

.main-header,
.nav {
  display: flex;
  flex-direction: column;
}

.main-header {
  padding-top: 2em;

  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-radial-gradient(circle, #222, #2d2d2d);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(circle, #222, #2d2d2d);

  /* IE 10 */
  background: -ms-linear-gradient(circle, #222, #2d2d2d);
}

.site-logo {
/*  width: 110px;*/
  align-self: center;
}

.nav {
  margin-top: 1.5em;
}

.nav a {
  display: block;
  color: #e9e9e9;
  font-size: 1.125em;
  font-weight: 300;
  text-align: center;
  padding: .4em;
}

.nav > li > a:active {
  background-color: transparent;
}

.nav > li > a:hover {
  color: #FFF;
  background-color: transparent;
}

/*======= Media Queries ============*/

@media (min-width: 769px) {
  .main-header {
    justify-content: flex-end;
  }
  .site-logo {
/*    width: 140px;*/
  }
  .nav {
    flex-direction: row;
    justify-content: flex-end;
  }
}