@font-face {
  font-family: GothamCond-Medium;
  src: url("/fonts/GothamCond-Medium.otf");
}

@font-face {
  font-family: GothamCond-Book;
  src: url("/fonts/GothamCond-Book.otf");
}

@font-face {
  font-family: RefrigeratorDeluxe;
  src: url("/fonts/RefrigeratorDeluxe.otf");
}

*:focus {
  outline: 0 !important;
}

.project-title {
  font-size: 28px !important;
}

.well {
  background-color: #FFFFFF;
}

body {
  background-color: rgba(234, 234, 234, 1);
  font-family: GothamCond-Book;
  font-size: 25px;
}

.align-center {
  text-align: center;
}

#projects-container {
  padding-top: 2.5em;
}

#contact-container {
  padding-top: 1.5em;
}

#about-container {
  padding-top: 2.5em;
}

#landing-container {
  padding-top: 3em;
}

#landing-container > h1 {
  font-size: 6em;
}

.project-preview {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background-color: #FFFFFF;
}

.project-preview:hover {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  transition: all .3s;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: initial;
  transition-delay: initial;
}

.project-thumbnail {
  font-family: GothamCond-Book;
  margin: auto;
}

.dev-thumbnail {
  height: 40px;
  width: 40px;
  border: 0px;
  display: inline-block !important;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background-color: #FFFFFF;
}

.skills {
  height: 50px;
  letter-spacing: 0px;
  display: inline-block !important;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: rgba(234, 234, 234, .2);
}

/*======= Button Styling ============*/

.project-button {
  color: #337ab7;
  background-color: #FFFFFF;
  border: 1px solid #337ab7;
  border-radius:0;
  margin-top: 4px;
}

.project-button:hover {
  color: #ffffff;
  background: #337ab7;
  -webkit-transition: color .55s;
  -moz-transition:    color .55s;
  -ms-transition:     color .55s;
  -o-transition:      color .55s;
}

.btn {
  font-size: 17px;
  textolor: #337ab7;
}

.fa-stack {
  font-size: 40px !important;
}